<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Synthetic - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static/syn.css" type="text/css">
{% block js %}{% endblock %}
</head>
<body>
<div id="header"><div class="inside">
<h1>SYNTHETIC</h1>
Analysis and Modeling of Complex Networks
</div>
<div style="text-align:right">
{% if user.username %}
Welcome {{ user.username }} | <a href="/logout">logout</a>
{% endif %}
</div>
</div>


<div id="contentwrapper">
<div id="content">
<div class="inside">{% block content %}{% endblock %}</div>
</div>
</div>

<div id="sidebar">
<div class="inside">
<a href="/">NETWORKS</a><br />
<a href="/tbd">DRMAPS</a><br />
<a href="/tbd">GENERATORS</a><br />
<a href="/tbd">LAB</a><br />
<a href="/tbd">EVOLUTION</a><br />
<a href="/tbd">HELP</a><br />
</div>

</div>

<div id="footer"></div>

</body>
</html>
