{% extends "base.html" %}
{% block title %}DRMap{% endblock %}
{% block content %}


<canvas id="drmap_canvas" width="300" height="300">
Sorry, your browser does not support canvas.
</canvas>

<script language="javascript">

var vals = [{{ map.data }}];
var bins = {{ map.bins }};

var maxval = 0;
for each (var val in vals) {
    var lval = Math.log(val);
    if (lval > maxval) {
        maxval = lval;
    }
}

var elem = document.getElementById('drmap_canvas');


if (elem && elem.getContext) {
    var context = elem.getContext('2d');
    if (context) {
        var side = elem.width / bins;

        var i = 0;
        for (x = 0; x < bins; x++) {
            for (y = 0; y < bins; y++) {
                if (vals[i] == 0) {
                    context.fillStyle = 'rgba(0, 0, 255, 1)';
                }
                else {
                    context.fillStyle = 'rgba(' + Math.floor((Math.log(vals[i]) / maxval) * 255) + ', 0, 0, 1)';
                }
                context.fillRect(x * side, y * side, side, side);
                i++;
            }
        }
    }
}

</script>

{% endblock %}
