{% extends "base.html" %}
{% block title %}DRMap{% endblock %}
{% block content %}


<canvas id="drmap_canvas" width="300" height="300">
Sorry, your browser does not support canvas.
</canvas>

<br /><br />

min_hor: {{ map.min_hor }};
max_hor: {{ map.max_hor }};
min_ver: {{ map.min_ver }};
max_ver: {{ map.max_ver }};

<script language="javascript">

var vals = [{{ map.data }}];
var bins = {{ map.bins }};

var maxval = 0;
for each (var val in vals) {
    var lval = Math.log(val);
    if (lval > maxval) {
        maxval = lval;
    }
}

var elem = document.getElementById('drmap_canvas');


if (elem && elem.getContext) {
    var context = elem.getContext('2d');
    if (context) {
        var side = elem.width / bins;

        var i = 0;
        for (x = 0; x < bins; x++) {
            for (y = bins - 1; y >= 0; y--) {
                if (vals[i] == 0) {
                    context.fillStyle = 'rgba(0, 0, 255, 1)';
                }
                else {
                    context.fillStyle = 'rgba(' + Math.floor(vals[i] * 255.0) + ', 0, 0, 1)';
                }
                context.fillRect(x * side, y * side, side, side);
                i++;
            }
        }
        
        context.strokeStyle = '#0F0';
        context.lineWidth = 1.0;
        context.beginPath();
        context.moveTo(0, elem.height / 2);
        context.lineTo(elem.width, elem.height / 2);
        context.stroke();
        context.beginPath();
        context.moveTo(elem.width / 2, 0);
        context.lineTo(elem.width / 2, elem.height);
        context.stroke();
    }
}

</script>

{% endblock %}
