{% extends "base.html" %}
{% block title %}DRMap{% endblock %}
{% block js %}<script src="/static/drmap.js" type="text/javascript" ></script>{% endblock %}
{% block content %}

<div style="float:left">
<form action="/addnet/" method="post" enctype="multipart/form-data">

<h3>Link Probability Matrix</h3>
<table>
    <thead>
    	<tr>
        	<th scope="col">&nbsp;</th>
        {% for col in type_list %}
            <th scope="col">{{ col }}</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
{% for col in type_list %}
    <tr>
     	<td>{{ col }}</td>
    {% for row in type_list %}
        <td><input name="x" type="text" size="4" /></td>
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
</form>
</div>


<div style="float:right; width:300px;">
<canvas id="drmap_canvas" width="300" height="300">
Sorry, your browser does not support canvas.
</canvas>
</div>


<script language="javascript">

var vals = [{{ map_data }}];
var bins = {{ bins }};

drawDRMap(vals, bins, 'drmap_canvas');

</script>

{% endblock %}
