{% extends "base.html" %}

{% block title %}{{ net.name }}{% endblock %}
{% block js %}<script src="/static/drmap.js" type="text/javascript" ></script>{% endblock %}
{% block content %}
<h3>Network: {{ net.name }}</h3>
nodes:{{ net.nodes }}<br />
edges:{{ net.edges }}<br />

<br />

{% if net.drmap == None %}
<a href="/gendrmap/{{ net.id }}">Generate DRMap</a>
{% else %}
<canvas id="drmap_canvas" width="300" height="300">
Sorry, your browser does not support canvas.
</canvas>

<script language="javascript">

var vals = [{{ net.drmap.data }}];
var bins = {{ net.drmap.bins }};

drawDRMap(vals, bins, 'drmap_canvas');

</script>
{% endif %}

{% endblock %}
