<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Telmo Menezes" />

   <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="/main.css" type="text/css" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Synthetic</a> Artificial Network Scientist
  </div>

  <div class="menu">
    <a href="/">About</a>
    <a href="/">Download and Install</a>
    <a href="/">Tutorial</a>
    <a href="/">Authors</a>
    <a href="/">6</a>
  </div>

  {{ content }}
  
</div>

<a href="https://github.com/telmomenezes/synthetic"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>

</body>
</html>