/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

#main {
  float:left;
  width:550px;
}

#sidebar {
  float:right;
  width:200px;
  font-size: 100%;
}

#footer {
  clear:both;
}


.site {
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
  text-align: left;
  width: 800px;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.site .title {
  color: #aaa;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  margin-bottom: 1em;
}

  .site .title a {
    color: #0a0;
    font-weight: bold;
    font-size: 300%;
    text-decoration: none;
  }

.site .menu {
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .menu a {
    color: #007878;
    text-decoration: none;
    margin-right: 1em;
  }

  .site .menu a:hover {
    color: black;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }